@namespace CIAHome.Client.Components

<div style="background: url('@Pump') no-repeat center / contain">
    <img src="@Water" style="clip-path: inset(@(IsRunning ? 0 : 100)% 0 0 0);"
         width="100%" height="100%" alt="Pump Status"/>
</div>

@code {

    [Parameter]
    public bool IsRunning { get; set; }

        private const string Pump = "/img/Waterpump/Pump.png";
        private const string Water = "/img/Waterpump/Water.png";
}