@namespace CIAHome.Client.Components
@using MudBlazor.Utilities
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Class" style="@Stylename">
    <img src="@Water" style="clip-path: inset(@(IsRunning ? 0 : 100)% 0 0 0);"
         width="100%" height="100%" alt="Pump Status"/>
</div>

@code {

    [Parameter]
    public bool IsRunning { get; set; }

        private const string Pump = "/img/Waterpump/Pump.png";
        private const string Water = "/img/Waterpump/Water.png";


    protected string Stylename =>
        new StyleBuilder()
            .AddStyle("background", $"url('{Pump}') no-repeat center / contain")
            .AddStyle("height", $"{Height}", !string.IsNullOrEmpty(Height))
            .AddStyle("width", $"{Width}", !string.IsNullOrEmpty(Width))
            .AddStyle("max-height", $"{MaxHeight}", !string.IsNullOrEmpty(MaxHeight))
            .AddStyle("max-width", $"{MaxWidth}", !string.IsNullOrEmpty(MaxWidth))
            .AddStyle("min-height", $"{MinHeight}", !string.IsNullOrEmpty(MinHeight))
            .AddStyle("min-width", $"{MinWidth}", !string.IsNullOrEmpty(MinWidth))
            .AddStyle(Style)
            .Build();

    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public string MaxHeight { get; set; }

    [Parameter]
    public string MaxWidth { get; set; }

    [Parameter]
    public string MinHeight { get; set; }

    [Parameter]
    public string MinWidth { get; set; }

}