@page "/login"
@inject HttpClient _http
@inject IAuthenticationService _authentication

<EditForm Model="_userInput" OnValidSubmit="OnSubmit">
    <MudTextField @bind-Value="_userInput.Username" Immediate="true" Label="Username" Required="true"/>
    <MudTextField @bind-Value="_userInput.Password" Immediate="true" Label="Password" Required="true" InputType="InputType.Password"/>
    <MudCheckBox @bind-Checked="@_userInput.Remember">Remember me</MudCheckBox>
    <MudButton ButtonType="ButtonType.Submit">Login</MudButton>
</EditForm>

@if (_loginFailed)
{
    <span>Login Failed</span>
}

@code {

    private bool _loginFailed;

    private readonly LoginModel _userInput = new();

    private async Task OnSubmit()
    {
        try
        {
            await _authentication.Login(_userInput);
        }
        catch (Exception)
        {
            _loginFailed = true;
        }
    }

}