@page "/login"
@using CIAHome.Shared.Models
@using CIAHome.Shared

<EditForm Model="_userInput" OnValidSubmit="OnSubmit">
    <MudTextField @bind-Value="_userInput.Username" Immediate="true" Label="Username" Required="true"/>
    <MudTextField @bind-Value="_userInput.Password" Immediate="true" Label="Password" Required="true" InputType="InputType.Password"/>
    <MudCheckBox @bind-Checked="@_userInput.Remember">Remember me</MudCheckBox>
    <MudButton ButtonType="ButtonType.Submit">Login</MudButton>
</EditForm>

@if (_loginFailed)
{
    <span>Login Failed</span>
}

@code {

    [Inject]
    HttpClient Http { get; set; }

    private bool _loginFailed;

    private readonly LoginModel _userInput = new();

    private async Task OnSubmit()
    {
        var result = await Http.PostAsJsonAsync(CIAPath.Login, _userInput);

        if (!result.IsSuccessStatusCode)
        {
            _loginFailed = true;
        }
    }

}